.Normal{
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
    align-items: "center";
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow:0 0 10px rgb(173, 171, 161);
    max-width: 400px;
    border-radius: 10px;
    
}

h1{
    text-align: center;
}

