/* DropdownMenu.css */
.dropdown {
    position: absolute;
    top: 29px;
    right: 260px;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9; /* Dropdown background color */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0; /* Adjust to align with the right side */
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd; /* Hover background color */
  }
  