
* {
    font-size: 16px;
    line-height: 1.625;
    font-family: Nunito, sans-serif;
  }

  h1 {
    text-align: center;
    
  
  }

.form-container {
    max-width: 600px;
    margin: 0  auto;
    padding: 20px;
    border: 20px solid #1887ff;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .form-container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-container div {
    margin-bottom: 10px;
  }
  
  .form-container label {
    display: block;
    font-weight: bold;
  }
  
  .form-container input,
  .form-container select {
    width: 100%;
    padding-right: 0px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .form-container .error {
    color: red;
    margin-top: 10px;
  }
  
  .form-container button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .form-container button:hover {
    background-color: #0056b3;
  }
  