/* Add this to your CSS file (PersonDetails.css or any other relevant CSS file) */
.table1 {
    width: 50%;
    border-collapse: collapse;
    border-spacing: 0;
  }

  .table2{
    position: absolute;
    top: 422px;
    right:394px;
    width: 23%;
  }

  .table3{
    width: 50%;
    border-collapse: collapse;
    border-spacing: 0;
    padding-bottom: 8px;
  }
  .table th,
  .table td {
    padding: 6px;
    padding-bottom: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  