/* Navigation bar styles */

*{
  font-family: Poppins, sans-serif;
  font-weight: 600;
}
.landing-nav {
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0;
}

/* Move the buttons to the right */
.landing-nav .justify-content-end {
  justify-content: flex-end;
}

/* Style the buttons */
.landing-nav .btn {
  margin-right: 10px;
}

/* Jumbotron-like banner styles */
.landing-banner {
  background-color: #0e284c; /* Background color for the banner */
  color: #fff; /* Text color for the banner */
  padding: 40px; /* Padding for the banner */
  text-align: center;
}

.landing-banner h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.landing-banner p {
  font-size: 18px;
  margin-bottom: 20px;
}

/* Key Features section styles */
.landing-features {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 40px 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.landing-features card {
  width: 250px;
  margin: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
  /* Center align the buttons on smaller screens */
  .landing-nav .justify-content-end {
    justify-content: center;
  }

  .landing-banner h1 {
    font-size: 24px;
  }

  .landing-banner p {
    font-size: 14px;
  }

  .landing-features h2 {
    font-size: 20px;
  align-self: center;
  }

  .landing-features li {
    font-size: 14px;
  }
  .key-features{

    margin-top: 0;
  margin-bottom: 0;
  align-self: center;
    
  }
}

/* Add more custom styles as needed */
