/* Forms.css */
.duration-input {
    display: flex;
    align-items: center;
  }
  
.duration-hours,
.duration-minutes {
  width: 20px; /* Adjust the width as needed */
  text-align: center;
  margin-right: 10px; /* Add margin to create a gap between the two fields */
}

  
  .duration-separator {
    margin: 0 10px; /* Adjust the margin as needed */
    font-size: 1.5rem;
  }
  .label-bold {
    font-weight: bold;
  }
  
  .label-large {
    font-size: 20px; /* Adjust the font size as needed */
  }
  