.faq-container {
    padding: 50px;
  }
  
  .faq-title {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .card-header {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    cursor: pointer;
  }
  
  .card-header h2 {
    margin: 0;
  }
  
  .card-body {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #dee2e6;
    border-top: 0;
  }
  